* {
    margin: 0;
}

:root {
    background: radial-gradient(circle, rgba(213, 213, 213, 1) 37%, rgba(187, 187, 187, 1) 71%); // silver. My favorite
    background-image: linear-gradient(260deg, silver, rgba(136, 136, 206, 0.8)),
        url(https://upload.wikimedia.org/wikipedia/commons/1/1e/San_Francisco_from_the_Marin_Headlands_in_March_2019.jpg);
}

.buttonRow {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

h1 {
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    color: #eee;
    max-width: 650px;
    // border: 1px solid #000;
    border-radius: 50px;
    box-shadow: 0 0 3px #000;
    text-shadow: 0 0 3px #000;
    background: radial-gradient(circle, hsla(0, 0%, 84%, .291) 47%, hsla(0, 0%, 89%, 0.497) 91%);
    -webkit-text-stroke: 0.5px gray;
}

.container {
    width: 350px;
    height: 150px;
    border: 1px solid #000;
    margin: 0 auto;

    display: grid;
    grid-row-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

.container1 {
    margin: 10vh auto;
    max-width: 450px;
    height: 250px;
    padding: 30px;
    // border: 1px solid #000;
    border-radius: 50px;
    box-shadow: 0 0 3px #000;
    text-align: center;
    background: radial-gradient(circle, hsla(0, 0%, 84%, 0.291) 47%, hsla(0, 0%, 89%, 0.497) 91%);

    h2 {
        height: 35px;
        padding: 10px;
        margin: 0 auto;
        color: #fff;
        max-width: 250px;
        // border: 1px solid #000;
        border-radius: 50px;
        box-shadow: 0 0 3px #000;
        text-shadow: 0 0 2px #000;
        background: radial-gradient(circle, hsla(0, 0%, 84%, .291) 47%, hsla(0, 0%, 89%, 0.497) 91%);
        -webkit-text-stroke: 0.5px gray;
    }
}

.container2 {
    display: flex;
    // justify-content: center;
    box-shadow: 0 0 3px #000;
    padding: 12px;
    margin: 45px auto;
    justify-content: center;
    border-radius: 30px;
    height: 25px;
    background: radial-gradient(circle, hsla(0, 0%, 84%, 0.291) 47%, hsla(0, 0%, 89%, 0.497) 91%);
}

.container3 {
    display: flex;
    // justify-content: center;
    box-shadow: 0 0 3px #000;
    padding: 10px;
    margin: 45px auto;
    justify-content: center;
    height: 25px;
    border-radius: 30px;
    background: radial-gradient(circle, hsla(0, 0%, 84%, 0.291) 47%, hsla(0, 0%, 89%, 0.497) 91%);
}

button {
    border-radius: 10px;
    border: 0.3px solid silver;
    margin: 1px;
    box-shadow: 2px 2px 4px #000;

    &:hover {
        box-shadow: 1px 1px gray;
        transition: all .2s ease;
    }

    &:active {
        background-color: gray;
        box-shadow: 0 0 13px #000;
        transform: translateY(3px);
    }
}

.answer-buttons {
    display: flex;
    // border: none;
    box-shadow: 0 0 3px silver;
    margin: 1px;
    border-radius: 10px;
    background-color: #eee;
    font-size: 0.9rem;
    text-indent: 1px;
    margin-right: 2px;
    box-shadow: 2px 2px 4px #000;

    &:hover {
        background-color: #fff;
        box-shadow: 1px 1px gray;
        transition: all .4s ease;
    }

    &:active {
        background-color: #000;
        box-shadow: 0 15px #000;
        transform: translateY(4px);
    }
}

.check-button {
    margin-top: 20px;
    box-shadow: 1px 1px 3px #000;

    &:hover {
        box-shadow: 1px 1px gray;
        transition: all .2s ease;
    }
}

@media (max-width: 550px) {
    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .container1 {
        // max-width: 100%;
        // margin: 0 0 0 0;
        // margin-left: 0;
        margin-top: 0;
    }

    .container1>button {
        // padding: 0.5rem;
    }

    .container2 {
        // width: 100%;
        // margin: 0;
    }

    .container3 {
        // width: 100%;
    }
}